* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  width: 1100px;
  height: 680px;
  padding: 1px 120px 18px 180px;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  background: #292929;
}
body.active {
  background: #f8f8f8;
}
.weather-app {
  display: flex;
  width: 900px;
  height: 580px;
  padding: 26px 50px;
  flex-direction: column;
  gap: 30px;
  flex-shrink: 0;
  background: #111015;
  border-radius: 16px;
}
.weather-app.active {
  background: #f8f8f8;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}
.image-container {
  color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -15px;
  margin-left: -25px;
}
.left {
  display: flex;
  gap: 15px;
}
.img-1 {
  border-radius: 50%;
  background-color: #1e1e1e;
  padding: 5px;
  height: 20px;
  width: 20px;
}
.p1 {
  color: #fefefe;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
}
.search-bar {
  display: flex;
  align-items: center;
}
input {
  width: 100%;
  height: 100%;
  display: block;
  padding: 8px 70px 8px 20px;
  border-radius: 10px;
  border: none;
  background-color: #626161;
  outline: none;
  transition: 0.3s;
  color: #ededed;
}
input::placeholder {
  color: #ededed;
}
form {
  position: relative;
  border-radius: 10px;
  background-color: grey;
}
#weatherInfo {
  display: none;
  text-align: left;
  z-index: 2;
}
#btn1 {
  position: absolute;
  top: 0;
  right: 0px;
  left: 290px;
  width: 50px;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 14px;
}
#btn1 i {
  color: #fff;
}
#btn1:hover i {
  color: rgb(162, 163, 163);
}

.lady-btn {
  display: flex;
  align-items: center;
  gap: 15px;
}
#toggle {
  position: relative;
  display: block;
  width: 80px;
  height: 37px;
  border-radius: 20px;
  cursor: pointer;
  background: #222;
  transition: 0.5s;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}
#toggle.active {
  background: #fff;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
    inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}
#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.7),
    inset 0 -4px 4px rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}
#toggle.active .indicator {
  left: 40px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.7),
    inset 0 -4px 4px rgba(255, 255, 255, 1);
}
.container-2 {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -20px;
  margin-top: -10px;
  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.day {
  display: flex;
  gap: 10px;
}
.rain-forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin-right: 100px;
}
.p2 {
  color: #818085;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.forecast {
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: 30px;
  background-color: #1e1e1e;
}
.p3 {
  font-size: 18px;
}
.air {
  color: #818085;
  font-size: 9px;
  margin-right: 6px;
}
.fore {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e1e1e;
  font-family: Montserrat;
  font-size: 13px;
  border-radius: 15px;
  background: #bbd7ec;
  width: 91px;
  height: 30px;
  text-align: center;
  margin-right: 10px;
}
.container-3-1 {
  width: 190px;
  height: 160px;
  border-radius: 25px;
  background: #bbd7ec;
  margin-left: -25px;
  margin-top: 10px;
}
.friday {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #0f0f11;
  width: 190px;
  height: 40px;
  border-radius: 25px 25px 0px 0px;
  background: #aecadf;
  margin-top: 2px;
  font-size: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
}
.temperature {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 10px;
  padding: 10px;
}

.temperature p {
  color: #4f5658;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
}
.p4 {
  color: red;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
span {
  color: #0f0f11;
  font-weight: 600;
}
.container-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.container-4 {
  width: 70px;
  height: 160px;
  border-radius: 30px;
  background: #1b1b1d;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.container-4 p {
  color: #ededed;
}
.week {
  width: 70px;
  height: 40px;
  border-radius: 30px;
}
.container-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  margin-top: 20px;
  font-size: 13px;
}

.p5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
}
.p6 {
  font-size: 10px;
}
.container-7 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.box {
  width: 200px;
  height: 140px;
  border-radius: 15px;
  background-color: #1b1b1d;
  margin-left: -25px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-size: 13px;
}
.box-wrapper {
  display: flex;
  gap: 40px;
}

.box p {
  color: #818085;
  padding: 10px;
  text-align: start;
}
.p7 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.span2 {
  font-size: 12px;
  text-align: start;
  color: #818085;
}
/* needs correction */
.img-5 {
  width: 70px;
  height: 70px;
  padding-right: -20px;
}
/* correction */
.image-bg {
  width: 260px;
  height: 287px;
  border-radius: 15px;
  margin-top: 10px;
  background-image: url(./image/bg-img.svg);
}
.image-bg-text {
  width: 230px;
  height: 45px;
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.3);
  box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.25);
  margin: 37px 5px 0 5px;
}
.image-bg-text p {
  text-align: center;
  color: #060609;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 10px;
}
.btn {
  width: 156px;
  height: 44px;
  border-radius: 10px;
  background: #d9d9d9;
  border: none;
  margin-top: 135px;
  margin-left: 40px;
  color: #0f0f11;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.btn:hover {
  background: #aecadf;
}

.wind-1 {
  width: 240px;
  height: 63px;
  border-radius: 15px;
  background: #1b1b1d;
  margin-top: 10px;
  margin-right: -25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  font-size: 10px;
}

.wind-1a {
  color: #818085;
  gap: 10px;
}
.city {
  font-size: 20px;
}
